body {
	background-color: #464646;
	margin-top: 80px;
}
.flexBody{
	display: flex;
	flex-direction: column;
	align-items: center;
}
#titleScreen {
	display: flex;
	justify-content: center;
	align-items: center;
	font-color: #ffffff;
}
.Credits{
	font-size:15px;
	color:#fff;
}
#fullScreen {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	font-size: 50px;
	color: #ffffff;
}
a {
	color: #ffffff;
}
header {
	color: #ffffff;
	background-color:#555;
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 80px;
	text-align:center;
}
footer{
	background-color:#555;
	width:100%;
	position:absolute;
	bottom:0px;
	left:0px;
	text-align:center;
}
#passwordTextBox {
	padding: 15px;
	display: flex;
	align-items: center;
	flex-direction: column;
}
.submitButton {
	margin:5px;
	width:100px;
	height:50px;
	outline:none;
	border:1px solid black;
	background-color:#555;
	color:white;
}